@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

html {
  --bg-color-light: #eee;

  --bg-color-html: rgba(0, 0, 0, 0.3);
  --bg-color-play-area: rgba(255, 255, 255, 0.3);
  --bg-color-lighter: rgba(246, 231, 212, 0.8);

  --bg-color-active: rgba(200, 0, 0, 0.9);

  --border-radius: 6px;
}

body {
  background: var(--bg-color-html);
}

html.theme0,
.theme0 {
  --bg-color-html: rgba(0, 0, 0, 0.3);
  --bg-color-play-area: rgba(255, 255, 255, 0.3);
  --bg-color-lighter: rgba(246, 231, 212, 0.8);
}
html.theme1,
.theme1 {
  --bg-color-html: hsl(225 35% 15% / 1);
  --bg-color-play-area: hsl(225 20% 65% / 1);
  --bg-color-lighter: hsl(225 30% 90% / 1);
}
html.theme2,
.theme2 {
  --bg-color-html: hsl(203 37% 20% / 1);
  --bg-color-play-area: hsl(50 15% 60% / 1);
  --bg-color-lighter: hsl(50 10% 80% / 1);
}
html.theme3,
.theme3 {
  --bg-color-html: hsl(352 71% 25% / 1);
  --bg-color-play-area: hsl(342 56% 76% / 1);
  --bg-color-lighter: hsl(32 66% 90% / 1);
}
html.theme4,
.theme4 {
  --bg-color-html: transparent;
  --bg-color-play-area: rgba(255, 255, 255, 0.3);
  --bg-color-lighter: rgba(255, 255, 255, 0.7);
}

html.theme5,
.theme5 {
  --bg-color-html: hsl(0 0% 25% / 1);
  --bg-color-play-area: hsl(355 45% 50% / 1);
  --bg-color-lighter: hsl(40 100% 86% / 1);
  --bg-color-active: rgba(255, 155, 0, 0.8);
}
html.theme6,
.theme6 {
  --bg-color-html: hsl(0 0% 20% / 1);
  --bg-color-play-area: hsl(0 0% 70% / 1);
  --bg-color-lighter: hsl(0 0% 90% / 1);
}
html.theme7,
.theme7 {
  --bg-color-html: hsl(216, 69%, 20%);
  --bg-color-play-area: hsl(32, 43%, 75%);
  --bg-color-lighter: hsl(35, 58%, 94%);
}
html.theme8,
.theme8 {
  --bg-color-html: hsl(222, 38%, 9%);
  --bg-color-play-area: hsl(212, 8%, 64%);
  --bg-color-lighter: hsl(41, 70%, 85%);
}
html.theme9,
.theme9 {
  --bg-color-html: hsl(33 53% 25% / 1);
  --bg-color-play-area: hsl(33 40% 64% / 1);
  --bg-color-lighter: hsl(33 68% 85% / 1);
}
html.theme10,
.theme10 {
  --bg-color-html: hsl(91, 23%, 26%);
  --bg-color-play-area: hsl(87, 24%, 61%);
  --bg-color-lighter: hsl(35, 69%, 94%);
}

#themes {
  display: flex;
  padding: 0px 10px 10px 10px;
  line-height: 16px;
}
#themes > * {
  margin-right: 15px;
}

a.themelink {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
a.themelink .bg {
  width: 14px;
  height: 14px;
}
a.themelink .bg1 {
  background-color: var(--bg-color-html);
}
a.themelink .bg2 {
  background-color: var(--bg-color-play-area);
}
a.themelink .bg3 {
  background-color: var(--bg-color-lighter);
}

.roundedbox {
  background-color: var(--bg-color-light);
}

#page-content,
#right-side-first-part,
#page-title {
  zoom: 1 !important;
}

#game_play_area_wrap {
  /* this is set dynamically using resize observers */
  transform: scale(1);
  /* this is set dynamically using resize observers */
  transform-origin: top left;
  margin: 0px 10px;
}
#game_play_area {
  /* this is set dynamically using resize observers */
  width: 900px;
  margin: 10px auto 50px auto;
  background: var(--bg-color-play-area);
  border-radius: var(--border-radius);
  padding-top: 15px;
}
#game_play_area h3 {
  font-size: 20px;
}
#game_play_area #prefs a {
  color: var(--bg-color-lighter);
}

#page-title {
  box-sizing: border-box;
  margin: 0px 10px 10px 10px;
  border-radius: var(--border-radius);
  box-shadow: none;
}
#page-title.fixed-page-title {
  max-width: unset;
  margin: unset;
  border-radius: 0;
}

.player-board {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.player_board_inner {
  position: relative;
  background-color: var(--bg-color-lighter);
  border-radius: var(--border-radius);
  margin-right: 4px;
  padding: 5px 3px;
}
.player-name {
  position: relative;
}
.player_score {
  position: relative;
}
.player_score .timeToThink {
  top: 0;
}

.log {
  margin-right: 10px;
  border-radius: var(--border-radius);
}

.ha_board {
  clear: both;
}

#myhandwrap {
  padding-top: 10px;
  font-size: 14px;
}
#myhand {
  /* The right margin makes room for the chat window. */
  margin: 15px 250px 25px 15px;
}

.smallCards {
  background-size: 1050px 450px;
}

#card-last-played-area .last-played-container {
  position: relative;
  border-radius: var(--border-radius);
}
#card-last-played-area .last-played-container.disabled:not(.lastComboPlayer) .disabler {
  display: block;
}
.disabler {
  display: none;
  position: absolute;
  background: rgba(100, 100, 100, 0.6);
  border-radius: var(--border-radius);
  /* Covering the 4px border of the parent box. */
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  z-index: 10;
}

.combo {
  margin: 10px;
}

span.pass img {
  border-radius: var(--border-radius);
  opacity: 0.9;
  box-shadow: 5px 5px 5px 0px #666;
}

.stockitem {
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 3px #666;
}

.stockitem.stockitem_selected {
  border-width: 0px !important;
  translate: 0px -20px;
}

#buttons {
  padding: 10px 5px 10px 5px;
  /* UI should not jump when no buttons are present. */
  min-height: 30px;
  display: flex;
  background-color: var(--bg-color-lighter);
}
#buttons h3 {
  line-height: 20px;
}
#buttons .space1 {
  flex-grow: 1;
}
#buttons .space2 {
  flex-grow: 1.6;
}
.lockedInterface #buttons .bgabutton {
  visibility: hidden;
}
#buttons .bgabutton {
  text-align: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  text-shadow: none;
}
#buttons #bomb_button {
  min-width: 100px;
  margin-left: 10px;
}
#buttons #play_button {
  min-width: 150px;
  margin-left: 10px;
}
#buttons #pass_button {
  min-width: 150px;
  margin-left: 10px;
}
#buttons #pass_trick_button {
  min-width: 150px;
  margin-left: 10px;
}
#buttons #tichu_button {
  min-width: 100px;
  margin-left: 10px;
  margin-right: 15px;
}

#buttons .bgabutton.hide {
  visibility: hidden;
}

#prefs {
  padding: 10px;
  border-top: 1px solid var(--bg-color-lighter);
}

.reordercards {
  margin-left: 10px;
}

.active {
  border: 4px solid var(--bg-color-active);
}
#card-last-played-area .last-played-container {
  border: 4px solid transparent;
  padding: 6px;
  background: var(--bg-color-lighter);
  border-radius: var(--border-radius);
}
#card-last-played-area .last-played-container.active {
  border: 4px solid var(--bg-color-active);
}

.icon {
  display: none;
  background-image: url("img/tichu-icons.png");
}
.icon.star {
  background-size: 128px 64px;
  background-position: -112px -16px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon.hand {
  background-size: 128px 64px;
  background-position: -112px 0px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon.firstoutcolor {
  background-size: 128px 64px;
  background-position: -64px -32px;
  width: 16px;
  height: 16px;
  height: 32px;
}
.icon.grandtichublack {
  background-size: 128px 64px;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon.grandtichucolor {
  background-size: 128px 64px;
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.icon.tichublack {
  background-size: 128px 64px;
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.icon.tichucolor {
  background-size: 128px 64px;
  background-position: -32px -32px;
  width: 26px;
  height: 26px;
}
.icon.big.grandtichublack {
  background-size: 256px 128px;
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon.big.grandtichucolor {
  background-size: 256px 128px;
  background-position: 0px -64px;
  width: 64px;
  height: 64px;
}
.icon.big.tichublack {
  background-size: 256px 128px;
  background-position: -64px 0px;
  width: 64px;
  height: 64px;
}
.icon.big.tichucolor {
  background-size: 256px 128px;
  background-position: -64px -64px;
  width: 62.4px;
  height: 62.4px;
}
.icon.temp {
  position: absolute;
  display: block;
  left: calc(50% - 128px);
  top: calc(50% - 128px);
}
.icon.temp.grandtichublack {
  background-size: 1024px 512px;
  background-position: 0px 0px;
  width: 256px;
  height: 256px;
}
.icon.temp.grandtichucolor {
  background-size: 1024px 512px;
  background-position: 0px -256px;
  width: 256px;
  height: 256px;
}
.icon.temp.tichublack {
  background-size: 1024px 512px;
  background-position: -256px 0px;
  width: 256px;
  height: 256px;
}
.icon.temp.tichucolor {
  background-size: 1024px 512px;
  background-position: -256px -256px;
  width: 208px;
  height: 208px;
}
.icon.cardback {
  background-size: 128px 64px;
  background-position: -90px 0px;
  width: 22px;
  height: 32px;
}

/** Table layout **/

#card-last-played-area {
  display: grid;
  padding: 0px 15px 15px 15px;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#card-last-played-area .top {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
#card-last-played-area .left {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
#card-last-played-area .right {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#card-last-played-area .bottom {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#card-last-played-area #mahjongIndicator {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  place-self: center;
}
#card-last-played-area #currentTrickDiv {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  place-self: start end;
  text-align: right;
  font-size: 20px;
}

.squareTable #card-last-played-area {
  display: grid;
  grid-template-columns:
    minmax(200px, 2.5fr)
    minmax(200px, 2fr)
    minmax(20px, 1fr)
    minmax(200px, 2fr)
    minmax(200px, 2.5fr);
  grid-template-rows: 1fr 1fr 1fr;
}
.squareTable #card-last-played-area .top {
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
}
.squareTable #card-last-played-area .left {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
.clockwise.squareTable #card-last-played-area .left {
  grid-column: 4 / span 2;
}
.squareTable #card-last-played-area .right {
  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
}
.clockwise.squareTable #card-last-played-area .right {
  grid-column: 1 / span 2;
}
.squareTable #card-last-played-area .bottom {
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
}
.squareTable #card-last-played-area #mahjongIndicator {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.squareTable #card-last-played-area #currentTrickDiv {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}

.last-played-container {
  display: flex;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
}

.last-played-player {
  width: 140px;
  padding-right: 10px;
  flex-shrink: 0;
}

.last-played-player .last-played-icons {
  top: 2px;
}

.last-played-player .last-played-icons .count {
  display: inline-block;
  width: 40px;
}

.last-played-combo {
  width: 300px;
  flex-grow: 1;
}

.playertablename {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

#playedCards {
  --w: 40px;
  --h: 60px;
  display: none;
}
.turnbased #playedCards {
  display: block;
}
#playedCards h3 {
  padding: 10px 15px;
  background-color: var(--bg-color-lighter);
}
#playedCards #playedCardsFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#playedCards #playedCardsFlexRow .space {
  flex-grow: 1;
}
#playedCards #playedCardsFlexCol {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
}
#playedCards .type {
  display: flex;
  justify-content: center;
}
#playedCards .arg {
  width: var(--w);
  height: var(--h);
  margin: 3px;
  border-radius: 3px;
  background-image: url(img/tichu-cards.png);
  background-position: calc(var(--x) * -1 * var(--w)) calc(var(--y) * -1 * var(--h));
  background-repeat: no-repeat;
  background-size: calc(var(--w) * 14) calc(var(--h) * 4);
}
#playedCards .arg.hand {
  opacity: 0.3;
}
#playedCards .arg.trick {
  visibility: hidden;
}
#playedCards .arg.captured {
  visibility: hidden;
}

/* passing and receiving cards only */
#playertables .playertable {
  text-align: center;
  width: 120px;
  height: 190px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--bg-color-lighter);
  padding: 10px;
  margin: 10px 0;
}

#playertables .playertablebackground {
  width: 120px;
}

#playertables .playertable_1,
#playertables .playertable_3 {
  margin: 50px 0px 25px 0px;
}

/*** cards on table for passing and receiving ***/
.cardontable {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 100px;
  height: 150px;
  background-image: url("img/tichu-cards.png");
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 3px #666;
}

.tiki .cardontable {
  background-image: url("img/tiki-cards.png");
}

#mahjongpanel,
#phoenixpanel {
  display: block;
  margin: 0px 15px 15px 15px;
  padding: 15px;
  background: var(--bg-color-lighter);
  border-radius: var(--border-radius);
}

#mahjongpanel h3,
#phoenixpanel h3 {
  margin-bottom: 15px;
}

.mahjong {
  width: 75px;
  height: 112.5px;
  background-image: url("img/tichu-icons-table.png");
  background-size: 600px 225px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
}

#mahjongIndicator {
  display: none;
  width: 75px;
  height: 112.5px;
  background-image: url("img/tichu-mahjong.png");
  background-size: 75px 112.5px;
  border-radius: var(--border-radius);
}

.tiki #mahjongIndicator {
  background-image: url("img/tiki-tichu-mahjong.png");
}

/*** cards on table for passing and receiving ***/
#playertables {
  width: 560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.clockwise #playertables {
  flex-direction: row-reverse;
}

#playertables .playertablename {
  margin-bottom: 15px;
}

.spectatorMode #grandtichupanel,
.spectatorMode #tichupanel,
.spectatorMode #mahjongpanel,
.spectatorMode #playertables,
.spectatorMode #myhandwrap {
  display: none;
}

#popin_myDialogCurrentTrick #currentTrickCards {
  width: 500px;
}

.playertablebackground {
  position: absolute;
}

.playertablebackground .tichubets {
  min-height: 20px;
  margin-bottom: 20px;
}

/* game preference toggles */

#clockwise {
  display: inline;
}
#counterClockwise {
  display: none;
}
.clockwise #clockwise {
  display: none;
}
.clockwise #counterClockwise {
  display: inline;
}

/*# sourceMappingURL=tichu.css.map */
